.DS_Store
node_modules
/dist


# local env files
.env
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

venv

**/__pycache__
**/*.py[oc]

backend/models/*

!.keep
frontend/donft_frontend.tar.gz
crypto/near/out/*
crypto/near/target/*
crypto/out/*
